<main id="listProductsHome">


    <h1>Home</h1>

    <ul>
        {{#each allprods}}
            <li>{{this.title}}</li>
            <li>{{this.description}}</li>
            <li>{{this.price}}</li>
            <br>
            <br>
            {{/each}}
            
    </ul>


</main>

<script src="/socket.io/socket.io.js"></script>